.home{
  .take_out{
    display: inline-block;
    line-height: 2.4rem;
    padding: 0rem 1.5rem;
    background-color: orange;
    color: #333;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 2rem;
  }
}